.col-md-12.project-banner.card.primary-project
  .row
    .col-lg-12.project-banner-img
      a(href='/projects/' + project.id )
        img.img-fluid(src='http://placehold.it/1000x250/e5be90')
      .project-cell
        h3.project-cell-status= project.status
        p= helper.pluralize('member', project.members.length, true)
        .member
          each member in project.members
            p= member.first_name[0] + member.last_name[0]
      .links
        include ./_project_cell-detailed-links
      .project-cell-description
        p= project.description_short
  .row.center-cell
    .col-md-12
      p most recent post
  .row.center-cell
    .col-lg-12.project-banner-description.card-block
      h1.project-headline= project.title
        
