extends layout-dashboard

block view
	#projects-page.content
		each project in projects
			a(href=token.role == 0 ? "#" : "" class=token.role != 0 ? 'disabled' : '').cell
				.context
					p.header= project.title
					p= helper.pluralize('member', project.members.length, true)
					p= project.description_short
