extends layout

block content
	#dashboard-page.content
		.row
			.sidebar(class= dashboard.includes('hideSidebar') ? "hidden-xs-up" : "col-lg-2 col-md-3")
				.hidden-sm-down
					h2 Welcome
					img.img-avatar(src='http://placehold.it/64x64/77cb6f')
					p.name= token.name
					.btn-group(role="group" aria-label="Basic example")
						button.btn.btn-secondary(type="button") msg
						button.btn.btn-secondary(type="button") dir
						button.btn.btn-secondary(type="button") act
					.navbar.list-group
						a(href="/dashboard" class=navbar.active == 'dashboard' ? 'active' : '').list-group-item Home Page
						a(href="/dashboard/projects" class=navbar.active == 'projects' ? 'active' : '').list-group-item Projects
						a(href="/dashboard/events" class=navbar.active == 'events' ? 'active' : '').list-group-item Events
						a(href="/dashboard/members" class=navbar.active == 'members' ? 'active' : '').list-group-item Members
						a(href="/").list-group-item.disabled Sign Out
			.view(class= dashboard.includes('hideSidebar') ? "col-xs-12" : "col-lg-10 col-md-9")
				block view
