mixin executeComponent(component)
	- if (typeof component == 'string')
		p!= component
	- else
		- if (component.text != undefined)
			+executeComponent(component.text)
		- else if (component.section != undefined)
			p.header!= component.section
		- else if (component.list != undefined)
			- var list = component.list
			- if (list.text != undefined)
				+executeComponent(list.text)
			- if (list.value != undefined)
				ol
					each value in list.value
						li
							+executeComponent(value)
		- else if (component.markdown != undefined)
			- var markdown = helper.markdown.toHTML(component.markdown)
			div!= markdown
		- else if (component.image != undefined)
			- var image = component.image
			.row.image
				.col-md-8
					- if (image.text != undefined)
						+executeComponent(image.text)
				.col-md-4
					.thumbnail-caption
						- var link = image.link ? "/resources/tutorials/"+lesson._category.title.toLowerCase()+"/"+image.link : image.url
						a(href=link target="_blank")
							img(src=link)
						- if (image.caption != undefined)
							figcaption= content.caption

extends layout-lessons

block view
	#lesson-page.content
		h2= lesson.title
		#lesson
			each content in lesson.content
				+executeComponent(content)