extends layout-lessons

block content
  #lessons-page.content
    h2= tutorial.title
    p= tutorial.description
    p.header Lessons
    each lesson in tutorial.lessons
      a(href=lesson.id + "/").cell
        .context
          p.header=lesson.title
          p=lesson.description