extends layout

block content
	#tutorials-page.content
		each tutorial in category.tutorials
			.tutorial.hidden-sm-down
				.context
					.difficulty
					a(href=category.id + "/" + tutorial.id)= tutorial.title
					.controls
						p= tutorial.nDownloads
						button download
						p= tutorial.nLikes
						button likes
						p= tutorial.nDislikes
						button dislikes
			//- .tutorial-mobile.hidden-md-up
				.context
					.difficulty
					a(href="tutorials/" + category.id)= tutorial.title
					.controls
						p= tutorial.nDownloads
						button download
						p= tutorial.nLikes
						button download
						p= tutorial.nDislikes
						button download