.col-lg-12
  .row.card
    .col-lg-1.avatar
    .col-lg-11
      a(href='/members/' + member.id)
        h1.member-name= member.first_name + ' ' + member.last_name
      if (member.bio_short !== undefined)
        p= '"' + member.bio_short + '"'
      p= 'Participating in ' + helper.pluralize('project', member.numberOfProjects, true)
      .quick-links
        each link in member.links
          a(href=link target='_blank').links
            span= helper.trimURL(link)
            img.links
