#grid
  each image in project.images
    - var source = '/images/projects/'+project.title.toLowerCase()+'/images/'+image;
    //TODO DRY
    //HD Desktops are 25%
    .thumbnail-caption.hidden-lg-down
      a(href=source target='_blank')
        img(src=source alt=image)
      figcaption= image
    //Tablets and Desktops are 33%
    .thumbnail-caption(style='width: 33%;').hidden-xl-up.hidden-sm-down
      a(href=source target='_blank')
        img(src=source alt=image)
      figcaption= image
    //Phones are 100%
    .thumbnail-caption(style='width: 100%;').hidden-md-up
      a(href=source target='_blank')
        img(src=source alt=image)
      figcaption= image
